body {
    
}

p {
   background-color: #FAFAFA;
    height: 39px;
    width: 449px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

}

a {
    vertical-align: middle;
    line-height: 39px;
}


button {
        color: violet;
    border:  solid 1px gray;
    border-radius: 2px;
    font-weight: bold;
    font-size: 10px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    
}
button:hover {
    background-color: violet;
    color: white;
    
}

.letter {
    border: 0;
    height: 24px;
    width: 53px;
    text-transform: uppercase ;
}
.dots {
    border: 0;
    height: 24px;
    width: 24px;
   
}
.dots:hover {
   background-color: transparent; 
   color: violet
}
.letter:hover {
    background-color: transparent; 
   color: violet;
}

