body {
     
    margin-top: 17px;
    margin-left: 0px;
    margin-bottom: 100px;
    
}

p {
    background-color: #A64DFF;
    font-size: 0px;
    height: 38px;
}

a {
    display: inline-block;
    line-height: 38px;
    color: #ffffff; 
    padding-right: 8px; 
    padding-left: 8px;
    font-family: "Oswald";
    font-size: 15px;
    text-transform: uppercase;
    vertical-align: middle;

    
}
a:hover {
    background-color: #eeeeee;
    color: #A0A0A0;
}


a:first-child {
    margin-left: 74px;
}




